/* font families */
.book.font-family-0 { /* serif */
  font-family: Crimson Text, Palatino, Georgia, serif; 
}
.book.font-family-1 { /* san serif */
  font-family: Heebo, Helvetica, Arial, sans-serif; 
}
.font-settings {  /* hide the font settings button */
  display: none;
}



/* specify content and sidebar width */
.book .book-summary{left:-260px;width:260px;}
.book .book-body .page-wrapper .page-inner{max-width:840px;}
@media (min-width: 600px) {
  .book.with-summary .book-header.fixed {left: 260px;}
  .book.with-summary .book-body{left:260px}
}
@media (max-width: 600px) {
  .book.with-summary .book-header.fixed {min-width: 260px;}
  .book.with-summary .book-body {min-width: 260px;}
}




/* specify the line spacing */
.book .book-body .page-wrapper .page-inner .normal {
  line-height: 1.7em;
}
p {
  line-height: 1.4em;
  text-align: justify;
}


/* header 1 inside section divs */
.section > h1 {
  font-family: Crimson Text;
  font-size: 175%;
  background-image: url("img/jasmine-flat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  text-align: center;
}

/* make an exception for the "preface" and style it
as if it were h2 */
#preface > h1 {
font-family: Crimson Text;
  font-size: 175%;
  background-image: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  border-bottom-color: #cccccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-align: left;
}

/* the book header */
#header {
  font-family: Crimson Text;
  background-image: url("img/jasmine-flat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  text-align: center;
}
#header > .author > em,
#header > .date > em {
  font-family: Crimson Text;
  font-size: 150%;
  font-style: normal;
  font-weight: bold;
}
#header > p {
  text-align: center;
}


/* header level 2 defines a section heading */
h2 {
  font-family: Crimson Text;
  border-bottom-color: #cccccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

/* header level 3 is the subsection */
h3 {
  font-family: Crimson Text;
}

/*
blockquote {
  font-style: italic;
  margin-left: 10px;
  padding: 3px 1em 3px;
  border-left-color: #dddddd;
  border-left-width: 1px;
  border-left-style: dotted;
}
*/


/*
.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
*/
