.book.font-family-0 {
  font-family: Crimson Text, Palatino, Georgia, serif; /* originally the serif fonts */
}

.book.font-family-1 {
  font-family: Heebo, Helvetica, Arial, sans-serif; /* originally san serif */
}


.book .book-summary{left:-260px;width:260px;}

.book .book-body .page-wrapper .page-inner{max-width:840px;}

@media (min-width: 600px) {
  .book.with-summary .book-header.fixed {left: 260px;}
  .book.with-summary .book-body{left:260px}
}

@media (max-width: 600px) {
  .book.with-summary .book-header.fixed {min-width: 260px;}
  .book.with-summary .book-body {min-width: 260px;}
}

.book .book-body .page-wrapper .page-inner .normal {
  line-height: 1.7em;
}

/* hide the font settings button */
.font-settings {
  display: none;
}

p {
  line-height: 1.4em;
  text-align: justify;
}

h1 {
  font-family: Crimson Text;
  font-size: 175%;
  background-image: url("img/jasmine-flat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
}


h2 {
  font-family: Crimson Text;
  border-bottom-color: #cccccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

h3 {
  font-family: Crimson Text;
}

/*
blockquote {
  font-style: italic;
  margin-left: 10px;
  padding: 3px 1em 3px;
  border-left-color: #dddddd;
  border-left-width: 1px;
  border-left-style: dotted;
}
*/


/*
.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
*/
